# dependencies
node_modules/

# next
.next/
out/
prvt/
.continue/
.vscode/

# local env
.env*.local
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db

# TypeScript cache
tsconfig.tsbuildinfo